
Header set Access-Control-Allow-Origin *
Header set Access-Control-Allow-Headers DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified$
Options +FollowSymLinks
RewriteEngine on
RewriteRule ^/(?:id2:)?t:iso[:/](.+)$ https://dencode.com/en/date?v=$1 [R=302,L]
RewriteRule ^/(?:id2:)?t:unix[:/](.+)$ https://timestamp.online/timestamp/$1 [R=302,L]
RewriteRule ^/(?:id2:)?g:gps[:/](.+)$ https://www.google.com/maps/search/$1 [R=302,L]
RewriteRule ^/(?:id2:)?g:olc[:/](.+)$ https://plus.codes/$1 [R=302,L]
RewriteRule ^/(?:id2:)?g:w3w[:/](.+)$ https://what3words.com/$1 [R=302,L]
RewriteRule ^/(?:id2:)?g:mgrs[:/](.+)$ https://mappingsupport.com/p2/gissurfer.php?center=$1 [R=302,L]
RewriteRule ^/(?:id2:)?g:utm[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?w:orc[:/](.+)$ https://orcid.org/$1 [R=302,L]
RewriteRule ^/(?:id2:)?w:isni[:/](.+)$ https://isni.org/isni/$1 [R=302,L]
RewriteRule ^/(?:id2:)?w:gsch[:/](.+)$ https://scholar.google.de/citations?user=$1 [R=302,L]
RewriteRule ^/(?:id2:)?w:lei[:/](.+)$ https://lei-search.lei-worldwide.com/search-results.html?lei=$1 [R=302,L]
RewriteRule ^/(?:id2:)?w:bic[:/](.+)$ https://www.bank-codes.com/?q=$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:ean[:/](.+)$ https://www.ean-search.org/?q=$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:upc[:/](.+)$ https://www.ean-search.org/?q=$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:asin[:/](.+)$ https://amzn.com/$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:imo[:/](.+)$ https://www.vesselfinder.com/vessels?name=$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:ups[:/](.+)$ https://www.ups.com/WebTracking/processInputRequest?tracknum=$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:doi[:/](.+)$ https://www.doi.org/$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:tor[:/](.+)$ https://$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:rfc[:/](.+)$ https://tools.ietf.org/html/rfc$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:cve[:/](.+)$ https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:cwe[:/](.+)$ https://cwe.mitre.org/data/definitions/$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:ecli[:/](.+)$ https://e-justice.europa.eu/ecli/ECLI:$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:isbn[:/](.+)$ https://isbnsearch.org/isbn/$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:issn[:/](.+)$ https://portal.issn.org/resource/ISSN/$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:ismn[:/](.+)$ https://portal.issn.org/resource/ISMN/$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:isrc[:/](.+)$ https://www.musicu.be/de/recording/$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:iswc[:/](.+)$ https://musicbrainz.org/iswc/$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:isan[:/](.+)$ https://web.isan.org/public/en/search?isan=$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:ytv[:/](.+)$ https://youtube.com/watch?v=$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:ytc[:/](.+)$ https://www.youtube.com/channel/$1 [R=302,L]
RewriteRule ^/(?:id2:)?i:id2[:/](.+)$ https://id2.dev?$1 [R=302,L]
RewriteRule ^/(?:id2:)?i:ip4[:/](.+)$ https://whois.domaintools.com/$1 [R=302,L]
RewriteRule ^/(?:id2:)?i:ip6[:/](.+)$ https://whois.domaintools.com/$1 [R=302,L]
RewriteRule ^/(?:id2:)?i:mac[:/](.+)$ https://api.macvendors.com/$1 [R=302,L]
RewriteRule ^/(?:id2:)?i:rcol[:/](.+)$ https://color-hex.org/color/$1 [R=302,L]
RewriteRule ^/(?:id2:)?i:uni[:/](.+)$ https://www.compart.com/en/unicode/U+$1 [R=302,L]
RewriteRule ^/(?:id2:)?h:eth[:/](.+)$ https://etherscan.io/address/$1 [R=302,L]
RewriteRule ^/(?:id2:)?h:bc[:/](.+)$ https://btc.com/$1 [R=302,L]
RewriteRule ^/(?:id2:)?h:ltc[:/](.+)$ https://blockchair.com/litecoin/address/$1 [R=302,L]
RewriteRule ^/(?:id2:)?h:dash[:/](.+)$ https://chainz.cryptoid.info/dash/address.dws?$1 [R=302,L]
RewriteRule ^/(?:id2:)?h:neo[:/](.+)$ https://neotracker.io/address/$1 [R=302,L]
RewriteRule ^/(?:id2:)?h:cid0[:/](.+)$ https://explore.ipld.io/#/explore/$1 [R=302,L]
RewriteRule ^/(?:id2:)?h:cid1[:/](.+)$ https://explore.ipld.io/#/explore/$1 [R=302,L]
RewriteRule ^/(?:id2:)?h:icik[:/](.+)$ https://www.chemspider.com/inchikey=$1 [R=302,L]
RewriteRule ^/(?:id2:)?t:fd[:/](.+)$ https://timestamp.online/timestamp/$1 [R=302,L]
RewriteRule ^/(?:id2:)?t:12h[:/](.+)$ https://time.unitarium.com/utc/$1 [R=302,L]
RewriteRule ^/(?:id2:)?t:24h[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?t:thex[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?g:csq[:/](.+)$ https://www.obis.org.au/cgi-bin/cs_map.pl?csq=$1 [R=302,L]
RewriteRule ^/(?:id2:)?g:cc[:/](.+)$ https://www.countrycode.org/$1 [R=302,L]
RewriteRule ^/(?:id2:)?g:iata[:/](.+)$ https://www.air-port-codes.com/airport-info/$1 [R=302,L]
RewriteRule ^/(?:id2:)?g:zip[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?g:gln[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?w:pass[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?w:name[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?w:cred[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?w:tel[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?w:mail[:/](.+)$ mailto:$1 [R=302,L]
RewriteRule ^/(?:id2:)?w:etn[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?w:lic[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?w:iban[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?o:oid[:/](.+)$ https://oid-info.com/get/$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:uicw[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?o:igsn[:/](.+)$ https://igsn.org/$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:senr[:/](.+)$ https://www.siemens-home.bsh-group.com/de/supportdetail/product/$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:fedx[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?o:dhl[:/](.+)$ https://www.dhl.de/en/privatkunden/dhl-sendungsverfolgung.html?piececode=$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:cont[:/](.+)$ https://www.track-trace.com/container/$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:unii[:/](.+)$ https://fdasis.nlm.nih.gov/srs/unii/$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:ici[:/](.+)$ https://www.ebi.ac.uk/chebi/advancedSearchFT.do?searchString=$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:imei[:/](.+)$ https://www.phonenumbertrack.com/imei-track?imei=$1 [R=302,L]
RewriteRule ^/(?:id2:)?o:vin[:/](.+)$ https://www.vindecoderz.com/EN/check-lookup/$1 [R=302,L]
RewriteRule ^/(?:id2:)?i:iorg[:/](.+)$ https://identifiers.org/$1 [R=302,L]
RewriteRule ^/(?:id2:)?i:w3id[:/](.+)$ https://w3id.org/$1 [R=302,L]
RewriteRule ^/(?:id2:)?i:sym[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?i:asci[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?i:acro[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?i:abbr[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?i:math[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?i:tex[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?i:uuid[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?i:did[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?i:uri[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?i:dn[:/](.+)$ https://$1 [R=302,L]
RewriteRule ^/(?:id2:)?i:efoo[:/](.+)$ https://www.ukfoodguide.net/$1 [R=302,L]
RewriteRule ^/(?:id2:)?i:pnr[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?i:chss[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?i:mol[:/](.+)$ https://webbook.nist.gov/cgi/cbook.cgi?Formula=$1 [R=302,L]
RewriteRule ^/(?:id2:)?i:rex[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?d:cas[:/](.+)$ https://webbook.nist.gov/cgi/cbook.cgi?ID=$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:echa[:/](.+)$ https://echa.europa.eu/substance-information/-/substanceinfo/$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:enzy[:/](.+)$ https://enzyme.expasy.org/EC/$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:cc[:/](.+)$ https://uk.wikimedia.org/wiki/w:CC-$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:10c[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?d:spfy[:/](.+)$ https://open.spotify.com/track/$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:wde[:/](.+)$ https://www.wikidata.org/entity/$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:unir[:/](.+)$ https://www.uniprot.org/uniref/$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:lrg[:/](.+)$ https://www.ensembl.org/Homo_sapiens/LRG/Summary?lrg=$1 [R=302,L]
RewriteRule ^/(?:id2:)?d:rseq[:/](.+)$ https://www.ncbi.nlm.nih.gov/protein/$1 [R=302,L]
RewriteRule ^/(?:id2:)?h:sha2[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?q:num[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?q:bin[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?q:hex[:/](.+)$ https://dencode.com/en/number/hex?v=$1 [R=302,L]
RewriteRule ^/(?:id2:)?q:rom[:/](.+)$ $1 [R=302,L]
RewriteRule ^/(?:id2:)?q:si[:/](.+)$ $1 [R=302,L]
